apiVersion: nais.io/v1alpha1
kind: Application
metadata:
    name: rekrutteringsbistand-container
    namespace: toi
    labels:
        team: toi
    annotations:
        nginx.ingress.kubernetes.io/proxy-read-timeout: '300'
        nginx.ingress.kubernetes.io/proxy-send-timeout: '300'
        nginx.ingress.kubernetes.io/proxy-body-size: '128m'

spec:
    # prettier-ignore
    image: {{ image }}
    port: 8080
    ingresses:
        - https://rekrutteringsbistand.dev.intern.nav.no
    liveness:
        initialDelay: 5
        path: /internal/isAlive
    readiness:
        initialDelay: 5
        path: /internal/isReady
    azure:
        application:
            enabled: true
            claims:
                extra:
                    - NAVident
        sidecar:
            enabled: true
    openSearch:
      access: read
      instance: kandidat
    accessPolicy:
      outbound:
        rules:
          - application: rekrutteringsbistand-stilling-api
        external:
          - host: rekrutteringsbistand-statistikk-api.dev-fss-pub.nais.io
    envFrom:
        - secret: rekrutteringsbistand-kandidatmatch-autoriserte-brukere
    env:
        - name: NODE_EXTRA_CA_CERTS
          value: /etc/ssl/ca-bundle.pem

        - name: STATISTIKK_API_URL
          value: https://rekrutteringsbistand-statistikk-api.dev-fss-pub.nais.io/rekrutteringsbistand-statistikk-api
        - name: STILLINGSSOK_PROXY_URL
          value: https://rekrutteringsbistand-stillingssok-proxy.dev.intern.nav.no
        - name: STILLING_API_URL
          value: https://rekrutteringsbistand-stilling-api.dev.intern.nav.no
        - name: KANDIDAT_API_URL
          value: https://rekrutteringsbistand-kandidat-api.dev-fss-pub.nais.io/rekrutteringsbistand-kandidat-api/rest
        - name: SMS_API
          value: https://rekrutteringsbistand-sms.dev-fss-pub.nais.io/rekrutteringsbistand-sms/sms
        - name: FORESPORSEL_OM_DELING_AV_CV_API
          value: https://foresporsel-om-deling-av-cv-api.dev-fss-pub.nais.io
        - name: SYNLIGHETSMOTOR_API
          value: https://toi-synlighetsmotor.dev.intern.nav.no
        - name: KANDIDATMATCH_API
          value: https://aimatch.dev.intern.nav.no
