apiVersion: nais.io/v1alpha1
kind: Application
metadata:
    name: rekrutteringsbistand-container
    namespace: toi
    labels:
        team: toi
spec:
    # prettier-ignore
    image: {{ image }}
    port: 8080
    ingresses:
        - https://rekrutteringsbistand.nais.adeo.no
        - https://rekrutteringsbistand.intern.nav.no
    liveness:
        initialDelay: 5
        path: /container/internal/isAlive
    readiness:
        initialDelay: 5
        path: /container/internal/isReady
    env:
        - name: LOGINSERVICE_URL
          value: https://loginservice.nais.adeo.no/login
