.navigeringsmeny {
    padding: 0 2.5rem;
    background-color: white;
}

@media print {
    .navigeringsmeny {
        display: none !important;
    }
}

.inner {
    margin: 0 auto;
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabs {
    display: flex;
    align-items: stretch;
}

.tab,
.forsidelenke {
    padding: 1.25rem 1rem;
}

.forsidelenke svg {
    width: 1.25rem;
    height: 1.25rem;
    transform: translateY(3px);
}

.tab {
    display: inline-block;
    text-decoration: none;
    color: var(--a-text-default);
    letter-spacing: 0.3px;
}

.tab,
.forsidelenke {
    margin-right: 1rem;
    border-top: 0.25rem solid transparent;
    border-bottom: 0.25rem solid transparent;
}

.tabAktiv,
.forsidelenkeAktiv,
.tab:hover,
.forsidelenke:hover {
    border-bottom-color: var(--a-surface-action-selected);
}

.tab:not(.tabAktiv):hover,
.forsidelenke:not(.forsidelenkeAktiv):hover {
    background-color: #f4f4f4;
}

.tab:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--a-surface-action-selected);
}

.tabFremhevet {
    margin-left: 1.5rem;
}
